body {
    margin:0;
    padding:0;
    border:0;           /* This removes the border around the viewport in old versions of IE */
    width:100%;
    background:#fff;
    min-width:600px;        /* Minimum width of layout - remove line if not required */
}

a:hover{
    color:#369;
}

a:active{
    color:#444;
    
}

li{
    list-style:none;
}

ul {
    display:inline-block;
    float:left;
    width:300px;
    padding:8px;
    margin:0px;
}

h1, h2, h3 {
    margin: 0em 0 0em 0;
    /*padding:2px;*/
}

/* column container */
.colmask {
    position:relative;  /* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    width:100%;         /* width of whole page */
    overflow:hidden;        /* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colleft {
    float:left;
    width:100%;
    position:relative;
}

.col1,
.col2 {
    float:left;
    position:relative;
    padding: 0 0 1em 0;
    overflow:hidden;
    margin-left:2px;
    margin-top: 2px;
    background: rgb(239, 245, 233);
}

.rightmenu .colleft {
    right:26.9%;            /* right column width */
    background:#fff;        /* left column background colour */
}
.rightmenu .col1 {
    width: 78%;/* left column content width (left column width minus left and right padding) */
    left: 27%;/* (right column width) plus (left column left padding) */
}

.rightmenu .col2 {
    width: 21.4%;/* right column content width (right column width minus left and right padding) */
    left: 27%;/* (right column width) plus (left column left and right padding) plus (right column left padding) */
    background:rgb(239, 245, 233);
    /*text-indent:6px;*/
    /* font-size: 5px; */
}
/* Footer styles */
#footer {
    clear:both;
    float:left;
    width:100%;
    border-top:1px solid #000;
}
#footer p {
    padding:10px;
    margin:0;
}

