.outer-container {
    position :relative;
    display: block;
    width: 100%; /* This could be ANY width */
    height: 100%; /* This could be ANY height */
    background: #484E4C;
}

.inner-container {
    display: table-cell;
    vertical-align:middle;
    text-align: center;
    padding-left: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
}
.centered-content {
    display: inline-block;
    text-align: left;
    background: #FBF7F7;
    padding: 10px;
    border: 1px solid #080708;
    padding-left: 16px;
    padding-right: 10px;
}
.fs{
    font-size:16px;
}

.haskellc{
    background-color: #EFF5E9;
    text-align:center;
    box-shadow: 0px 0px 0px 0px #888;
    font-family: cursive;
    color: #898A89;
}

.javac{
    background-color:#FA8258;
}

.haskellBox{
    width:100%;
}

.wbold{
     font-size: 18px;
     color: rgb(179, 150, 36);
}

.box {
    border: 1px solid while;
    margin-top:1px;
    margin-bottom:1px;
    margin-left:1px;
    margin-right:1px;
    float:auto;
}

.box1 {
    width: 100%;
    height: 100px;
    border: 0px solid #35353A;
    box-sizing:border-box;
    margin-left: 0%;
    margin-top: 21%;
    font-size: 40px;
    font-family: cursive;
    text-align: center;
    vertical-align: middle;
    color: #818181;
    background:#D4DCCB;
}

.box2 {
    width: 300px;
    height: 100px;    
    padding: 50px;
    border: 1px solid red;
    box-sizing: border-box;
}

.tcen{
    float:right;
    width:80%;
    font-size:16px;
}

.cen{
    text-align:center;
    font-size:16px;
    margin-left:auto;
    margin-right:auto;
}

.codebg{
    color: rgba(37, 43, 14, 0.57);
    backgroundrgb(239, 245, 233): wheat;
    background: rgb(239, 245, 233);
}



.mytitle{
    margin:auto;
    width:100%;
    color: #4D5F34;
    font-size:20px;
    text-align:center;
}

.mytext{
    margin:auto;
    /* width:80%; */
    color: #768868;
    font-size:18px;
    background: #EFF5E9;
    margin-left: 0px;
    /* text-indent: 10px; */
    padding-left: 40px;
}

.mysubtitle{
   margin:auto;
    width:100%;
    color: #6C824D;
    font-size:20px;
    text-align:left;
}

.mytable{
    border:1px solid gray;
    margin:auto;
    width:11%;
    color: #919C88;
    font-size:18px;
}

.centered{
    margin-left:21%;
    margin-right:auto;
}


.note{
    width:97%;
    border:0px solid gray;
    padding:4px;
    margin-top:2px;
    margin-left:1%;
    font-size:16px;
    background:#FFFFFF;
}


.latexbox{
    width:90%;
    border:1px solid gray;
    padding:4px;
    margin-top: 2px;
    margin-left:4%;
    font-size:16px;
    background:#FFFFFF;
}


.mathdef{
    width:80%;
    margin-top: 2px;
    border: 1px solid gray;
    padding: 4px;
    font-size:14px;
    background:#FFFFFF;
}

.mathdef_box1{
    width:80%;
    border:1px solid gray;
    padding: 4px;
    margin-top: 2px;
    margin-left:14%;
    font-size:14px;
    background:#FFFFFF;
}

.mathdef_box2{
    width:80%;
    border: 1px solid gray;
    padding: 4px;
    margin-top: 2px;
    margin-left:11%;
    font-size:16px;
    background:#FFFFFF;
}

.mathdef_box3{
    width:98%;
    border: 1px solid gray;
    margin-top: 2px;
    padding: 4px;
    margin-left:8%;
    font-size:14px;
    background:#FFFFFF;
}


.mathbox {
    border: 1px solid green;
    margin-top:1px;
    margin-bottom:1px;
    margin-left:1px;
    margin-right:1px;
    background-color:#F8F7DB;
    float:auto;
}

.mytextbox{
    border: 0px solid #E8E0E0;
    padding:1px;
    margin-top:1px;
    margin-bottom:1px;
    margin-left:1px;
    margin-right:1px;
    font-size:16px;
}

.bigtext{
    font-weight: 500;
    color: rgb(10, 10, 10);
    background: rgba(197, 133, 9, 0.62);
}

.cmdoutbox{
    background: rgba(7, 10, 10, 0.66);
    font-size: 20px;
    box-shadow:3px 3px 5px 1px #888;
    font-family:"Lucida Console", Courier, monospace;
    line-height:1.2em;
    letter-spacing:0.05em;
    border-radius: 10px;
    padding:1em;
    font-weight:500;
    color: #E4D333;
    text-align:center;
}

.cmdbox{
    color:rgba(104, 236, 69, 0.71); 
    border-radius:0px; 
    padding:2px;
}

.lbox{
    background: #EFF5E9;
    font-size: 14px;
    box-shadow: 0px 0px 2px 2px #150909;
    font-family:"Lucida Console", Courier, monospace;
    line-height:1.2em;
    letter-spacing:0.05em;
    border-radius: 0px;
    color: #808080;
    text-align:left;
    margin: 0px 1px;
}

.tooltip-wrap {
  position: relative;
  right:300px;
}

.tooltip-wrap .tooltip-content {
  width: 63%;
  display: none;
  position: absolute;
  bottom: 5%;
  left: 63%;
  background-color: #fafcfc;
  padding: 0px;
  border: 0px solid brown;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.tooltip-wrap:hover .tooltip-content {
  display: block;
}



